body.container
  div.title.container
    img.star#star1(src ="https://cdn1.iconfinder.com/data/icons/ninja-things-1/717/shuriken-simple-128.png")
    h1.text-center Nimble Knowledge
    img.star#star2(src ="https://cdn1.iconfinder.com/data/icons/ninja-things-1/717/shuriken-simple-128.png")
  div.inputArea.container
    label.arrow &#10095;
    input.form-control.myInput(type='text', placeholder='Search')
    p.clearBtn &#10006;
  div.btnContent.container
    button.btn#enterBtn Enter
    button.btn#randomBtn Random
  div.grid.row.container
    div.col-xs-1
    div.info.col-xs-10
      a#gitLink(href="https://github.com/nghia4745" target="_blank")
        img.infoBtns(src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Github-32.png" alt="GitHub")
      a#inLink(href="https://www.linkedin.com/in/nghia-tran-88170b87" target="_blank")
        img.infoBtns(src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-32.png" alt="LinkedIn")
      a#faceLink(href="https://facebook.com/ntran0226" target="_blank")
        img.infoBtns(src="https://cdn2.iconfinder.com/data/icons/social-icons-33/128/Facebook-32.png" alt="Facebook")
      a#penLink(href="http://codepen.io/nghia4745/" target="_blank")
        img.infoBtns(src="https://cdn0.iconfinder.com/data/icons/social-network-8/50/56-32.png" alt="CodePen")
      a#mailLink(href="mailto:ntran002@regis.edu")
        img.infoBtns(src="https://cdn2.iconfinder.com/data/icons/clean-and-simple/153/Mail-32.png" alt="Mail")
      label.credit
        | Developed by 
        a.webLink Nghia Tran 
        | using 
        a.apiLink(href="https://www.mediawiki.org/wiki/API:Main_page" target="_blank") Wikipedia API 
    div.col-xs-1

  
  